<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - Contact System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styling.css') }}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar">
        <a href="{{ url_for('auth.login') }}" class="navbar-brand">
        <i class="material-icons">contacts</i>
        Contact System
        </a>
        </nav>

        <div class="container">
        {# Display flash messages, with categories such as 'success' or 'error' #}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                {{ message }}
                </div>
            {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
        </div>
    </body>
</html>